# Environments
/.env

# Dependencies
/backend/vendor/
/node_modules/

# Logs and DB
*.log
*.sqlite
.phpunit.result.cache

# IDEs and System files
/.vscode/
/.idea/
.DS_Store
Thumbs.db

# AI and Artifacts
.gemini/
.agent/
/.agent/
